**21-7-2025 | Monday | Built-in Data Structures Part 1**

# **âœ… 15 Python Practice Questions (Topics: Lists, Tuples)**

###**Question 1: Write a Python program to create a list of 5 integers and print the list.**

In [1]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

### **Question 2: Write a Python function that takes a list of numbers and returns the maximum value.**

In [3]:
def find_maximum(numbers):
  """Finds the maximum value in a list of numbers."""
  return max(numbers)

input_string = input("Enter a list of numbers separated by commas: ")
number_strings = input_string.split(',')
numbers = [int(num.strip()) for num in number_strings] # Convert each string to an integer and remove leading/trailing whitespace

max_value = find_maximum(numbers)
print("The maximum value is:", max_value)

Enter a list of numbers separated by commas: 67, 34, 23, 98
The maximum value is: 98

### **Question 3: Create a list of fruits and print the second and last elements.**

In [5]:
list_of_fruits = ['Mango', 'Melon', 'Apple', 'Banana', 'Grapes']
print("Second fruit is:", list_of_fruits[1])
print("Last fruit is:", list_of_fruits[-1])

Second fruit is: Melon
Last fruit is: Grapes

### **Question 4: Write a program to remove all duplicates from a list.**

In [6]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print(unique_list)

[1, 2, 3, 4, 5]

### **Question 5: Write a Python program to find the sum and average of elements in a list.**

In [7]:
my_list = [10, 23, 54, 98, 12, 78]
sum_of_elements = sum(my_list)
average = sum_of_elements / len(my_list)
print("Sum of elements:", sum_of_elements)
print("Average of elements:", average)

Sum of elements: 275
Average of elements: 45.833333333333336

### **Question 6: Given a list of numbers, write a program to square each number and store the result in a new list.**

In [8]:
my_list = [2, 4, 7, 9, 1, 6, 8]
squared_list = [x**2 for x in my_list]
print(squared_list)

[4, 16, 49, 81, 1, 36, 64]

### **Question 7: Write a program to reverse a list without using built-in reverse() function.**

In [9]:
my_list = [2, 6, 9, 3, 5, 67]
reverse_list = my_list[::-1]
print(reverse_list)

[67, 5, 3, 9, 6, 2]

### **Question 8: Check whether a specific item exists in a list or not.**

In [11]:
my_list = ['Apple', 'Orange', 'Banana', 'Grapes']
item = 'Banana'
if item in my_list:
  print(f"Item '{item}' exists in the list.")
else:
  print(f"Item '{item}' does not exist in the list")

Item 'Banana' exists in the list.

### **Question 9: Create a tuple with 6 elements. Print the first, third, and last element.**

In [12]:
my_tuple = (1, 8, 45, 90, 25, 67)
print(f"First element: {my_tuple[0]}")
print(f"Third element: {my_tuple[2]}")
print(f"Last element: {my_tuple[-1]}")

First element: 1
Third element: 45
Last element: 67

## **Question 10: Write a Python program to convert a list into a tuple.**

In [14]:
my_list = [87, 45, 90, 23, 67, 12]
my_tuple = tuple(my_list)
my_tuple

(87, 45, 90, 23, 67, 12)

## **Question 11: Write a program to count how many times an item appears in a tuple.**

In [16]:
my_tuple = (34, 67, 98, 12, 45, 34)
# Use a set to avoid repeating counts
for item in set(my_tuple):
    print(item, "appears", my_tuple.count(item), "times")

34 appears 2 times
67 appears 1 times
98 appears 1 times
12 appears 1 times
45 appears 1 times

### **Question 12: Given a tuple of numbers, write a program to find the minimum and maximum values.**

In [17]:
my_tuple = (56, 34, 12, 96,)
min_item = min(my_tuple)
max_item = max(my_tuple)
print(f"Minimum value: {min_item}")
print(f"Maximum value: {max_item}")

Minimum value: 12
Maximum value: 96

### **Question 13: Create a tuple of student names. Try modifying one element and observe the error.**

In [18]:
my_tuple = (34, 67, 59, 40, 31)
mod_item = my_tuple[2] = 78
print(mod_item)

TypeError: 'tuple' object does not support item assignment

### **Question 14: Write a program that merges two lists into one and removes duplicates.**

In [19]:
my_list1 = [56, 34, 9, 4, 98]
my_list2 = [90, 4, 67, 34, 8]
list3 = my_list1 + my_list2
list3 = set(list3)
print(list3)

{34, 98, 4, 67, 8, 9, 56, 90}

### **Question 15: Given a list of numbers, write a program to find the second largest number.**

In [20]:
my_list = [56, 34, 87, 90, 21]
my_list.sort(reverse=True)
second_largest = my_list[1]
print(second_largest)

87