**22-7-2025 | Tuesday | Built-in Data Structures Part 2**

# **âœ… 15 Python Practice Questions (Topics: Sets, Dictionaries, String Methods)**

In [3]:
# Get all attributes of string
all_attributes = dir(str)

# Filter only methods (ignore special ones like __add__)
string_methods = [method for method in all_attributes if not method.startswith('__')]

# Display the methods
for method in string_methods:
    print(method)

capitalize
casefold
center
count
encode
endswith
expandtabs
find
format
format_map
index
isalnum
isalpha
isascii
isdecimal
isdigit
isidentifier
islower
isnumeric
isprintable
isspace
istitle
isupper
join
ljust
lower
lstrip
maketrans
partition
removeprefix
removesuffix
replace
rfind
rindex
rjust
rpartition
rsplit
rstrip
split
splitlines
startswith
strip
swapcase
title
translate
upper
zfill

###**Question 1: Create a set from this list: [1, 2, 2, 3, 4, 4, 5]. Print the set.**

In [4]:
my_list = [1, 2, 2, 3, 4, 4, 5]
list_to_set = set(my_list)
print(list_to_set)

{1, 2, 3, 4, 5}

###**Question 2: Create a dictionary with your name, age, and city. Print the dictionary.**

In [6]:
my_dict = {
    "name": "Zunaira Hameed",
    "age": 22,
    "city": "Sadiqabad"
}
print(my_dict)

{'name': 'Zunaira Hameed', 'age': 22, 'city': 'Sadiqabad'}

###**Question 3: Use a string method to convert the string 'hello world' to uppercase.**

In [12]:
my_str = "hello world"
str_to_uppercase = my_str.upper()
print(str_to_uppercase)

HELLO WORLD

###**Question 4: Find the length of the string 'Python Programming'.**

In [11]:
my_str = 'Python Programming'
len_of_str = len(my_str)
print(len_of_str)

18

###**Question 5: Check if the word 'apple' is in the set {'banana', 'apple', 'orange'}.**

In [13]:
my_set = {'banana', 'apple', 'orange'}
check_word = 'apple' in my_set
print(check_word)

True

###**Question 6: Print all keys from the dictionary: {'name': 'Ali', 'age': 25, 'city': 'Lahore'}.**

In [14]:
my_dict = {'name': 'Zunaira', 'age': 22, 'city': 'Sadiqabad'}
print(my_dict.keys())

dict_keys(['name', 'age', 'city'])

###**Question 7: Use string method to count how many times 'a' appears in 'banana'.**

In [15]:
my_str = 'banana'
count_letter = my_str.count('a')
print(count_letter)

3

###**Question 8: Add an item to this set: {'red', 'green'}. Add 'blue'.**

In [16]:
my_set = {'red', 'green'}
my_set.add('blue')
print(my_set)

{'blue', 'red', 'green'}

###**Question 9: Change the value of 'age' in the dictionary {'name': 'Sara', 'age': 22} to 23.**

In [17]:
my_dict = {'name': "Sara", 'age': 22}
my_dict['age'] = 23
print(my_dict)

{'name': 'Sara', 'age': 23}

###**Question 10: Remove the word 'cat' from the set {'cat', 'dog', 'mouse'}.**

In [18]:
my_set = {'cat', 'dog', 'mouse'}
my_set.remove('cat')
print(my_set)

{'dog', 'mouse'}

###**Question 11: Split the string 'apple, banana, orange' into a list using string method.**

In [19]:
my_str = 'apple, banana, orange'
str_to_list = my_str.split(', ')
print(str_to_list)

['apple', 'banana', 'orange']

###**Question 12: Check if key 'city' exists in the dictionary {'name': 'Ali', 'city': 'Karachi'}.**

In [20]:
my_dict = {'name': 'Ali', 'city': 'Karachi'}
check_key = 'city' in my_dict
print(check_key)

True

###**Question 13: Join the list ['Python', 'is', 'fun'] into a single string.**

In [23]:
my_list = ['Python', 'is', 'fun']
list_to_str = ' '.join(my_list)
print(list_to_str)

Python is fun

###**Question 14: Clear all items from the dictionary {'a': 1, 'b': 2}.**

In [24]:
my_dict = {'a': 1, 'b': 2}
my_dict.clear()
print(my_dict)

{}

###**Question 15: Use a string method to replace 'world' with 'Python' in the string 'hello world'.**

In [25]:
my_str = 'hello world'
str_change = my_str.replace('world', 'Python')
print(str_change)

hello Python