**23-7-2025 | Wednesday | Built-in Data Structures Part 3**

# **âœ… 15 Python Practice Questions (Topics: Lists, Tuples, Sets, Dictionaries, String Methods)**

###**Question 1.	Write a Python program to merge two dictionaries into one.**

In [4]:
dict_1 = {"name": "Zunaira", "age": 22}
dict_2 = {"city": "Sadiqabad", "country": "Pakistan"}
dict_1.update(dict_2)
print(dict_1)

{'name': 'Zunaira', 'age': 22, 'city': 'Sadiqabad', 'country': 'Pakistan'}

###**Question 2. How can you check if a key exists in a dictionary?**

In [9]:
my_dict = {"apple": 1, "banana": 2, "cherry": 3}
print("banana" in my_dict)
print("cherry" not in my_dict)

True
False

###**Question 3. Remove a key-value pair from a dictionary using a method.**

In [11]:
my_dict = {"name": "Zunaira", "age": 22}
del my_dict["age"]
print(my_dict)

{'name': 'Zunaira'}

###**Question 4. Use a dictionary method to return the value for a given key, or a default value if the key is not present.**

In [12]:
my_dict = {"name": "Zunaira", "age": 22}
print(my_dict.get("name", "Not found"))
print(my_dict.get("city", "Not found"))

Zunaira
Not found

###**Question 5. Convert two lists into a dictionary using zip().**

In [13]:
list_1 = ["name", "age", "city"]
list_2 = ["Zunaira", 22, "Sadiqabad"]
my_dict = dict(zip(list_1, list_2))
print(my_dict)

{'name': 'Zunaira', 'age': 22, 'city': 'Sadiqabad'}

###**Question 6. Create a dictionary from user input of 3 key-value pairs.**

In [16]:
my_dict = input("Enter 3 key-value pairs in dictionary format (e.g., {'name': 'value', 'age': 0, 'city': 'value'}): ")
my_dict = dict(eval(my_dict))
print(my_dict)

Enter 3 key-value pairs in dictionary format (e.g., {'name': 'value', 'age': 0, 'city': 'value'}): {'name' : 'Zunaira', 'age' : 22, 'city' : 'Sadiqabad'}
{'name': 'Zunaira', 'age': 22, 'city': 'Sadiqabad'}

###**Question 7.	Write a program to count the frequency of each character in a string using a dictionary.**

In [32]:
my_str = "Zunaira Hameed"
char_frequency = {}

for char in my_str:
    char_frequency[char] = char_frequency.get(char, 0) + 1

print(char_frequency)

{'Z': 1, 'u': 1, 'n': 1, 'a': 3, 'i': 1, 'r': 1, ' ': 1, 'H': 1, 'm': 1, 'e': 2, 'd': 1}

###**Question 8.	Given a dictionary of students and scores, find the student with the highest score.**

In [21]:
students = {'Zunaira': 80, 'Hameed': 95, 'Ali': 75}
for name, score in students.items():
  if score == max(students.values()):
    print(name, score)

Hameed 95

###**Question 9.	Use the set() method to remove duplicates from a list.**

In [22]:
my_list = [1,2,3,4,4,5,6,6,8,9,1]
print(my_list)
my_list = list(set(my_list))
print(my_list)

[1, 2, 3, 4, 4, 5, 6, 6, 8, 9, 1]
[1, 2, 3, 4, 5, 6, 8, 9]

###**Question 10.	Find the intersection of two sets in Python.**

In [23]:
set_1 = {1,2,3,4,5}
set_2 = {4,5,6,7,8}
print(set_1.intersection(set_2))

{4, 5}

###**Question 11.	Write a program that takes a string and returns the number of vowels in it.**

In [25]:
my_str = input("Enter your name:")
vowel_count = 0
vowels = "aeiouAEIOU"
for char in my_str:
  if char in vowels:
    vowel_count += 1
print(f"The number of vowels in the string is: {vowel_count}")

Enter your name:Zunaira Hameed
The number of vowels in the string is: 7

###**Question 12.	Reverse a list without using the reverse() method.**

In [26]:
my_list = [1,2,3,4,5,67]
reversed_list = my_list[::-1]
print(reversed_list)

[67, 5, 4, 3, 2, 1]

###**Question 13.	Write a Python program to check if a tuple contains a specific value.**

In [27]:
my_tuple = (1,2,"Zunaira", 7,9, 3.4)
print("Zunaira" in my_tuple)
print(5 in my_tuple)

True
False

###**Question 14.	Convert a list of tuples into a dictionary.**

In [30]:
list_of_tuples = [('name', 'Zunaira'), ('age', 22), ('city', 'sadiqabad')]
list_to_dict = dict(list_of_tuples)
print(list_to_dict)

{'name': 'Zunaira', 'age': 22, 'city': 'sadiqabad'}

###**Question 15.	Create a set from a string and display the unique characters.**

In [31]:
my_str = "Zunaira Hameed"
str_to_set = set(my_str)
print(str_to_set)

{'n', 'r', 'a', 'i', 'H', 'u', 'm', 'e', ' ', 'Z', 'd'}