**19-7-2025 | Saturday | Control Flow Part 2**

# **✅ 15 Python Practice Questions (Topics: for loop, while loop, range(), print patterns)**

###**Questions 1: Write a program using a `for` loop and `range()` to print numbers from 1 to 10.**

In [1]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

### **Question 2: Write a program using a `while` loop to print the first 10 natural numbers.**

In [4]:
a = 0
while (a<=9):
  print(a)
  a += 1

0
1
2
3
4
5
6
7
8
9

### **Question 3: Print all even numbers between 1 and 50 using a `for` loop and `range()`.**

In [5]:
for i in range(1,51):
  if i % 2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

### **Question 4: Print the sum of numbers from 1 to 100 using a `for` loop.**

In [9]:
total_sum = 0
for i in range(1,101):
  total_sum = total_sum + i
print(total_sum)

5050

### **Question 5: . Use a `while` loop to calculate the factorial of a number entered by the user.**

In [10]:
num1 = int(input("Enter a number: "))
factorial = 1
while num1 > 0:
    factorial *= num1
    num1 -= 1
print(f"The factorial is: {factorial}")

Enter a number: 23
The factorial is: 25852016738884976640000

### **Question 6: . Print the following pattern using a `for` loop:**

In [15]:
'''
*
* *
* * *
* * * *
* * * * *
'''

for i in range(1, 6):
  for j in range(i):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

### **Question 7: Print this pattern using nested `for` loops:**

In [22]:
'''
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
'''

for i in range(1, 6):
  for j in range(1, i + 1):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### **Question 8: Create a loop pattern of stars in reverse:*

In [23]:
'''
* * * * *
* * * *
* * *
* *
*
'''

for i in range(6, 1, -1):
  for j in range(i, 1, -1):
    print("*", end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

### **Question 9: Write a `for` loop to print the multiplication table of any number entered by the user.**

In [28]:
num1 = int(input("Enter a number to get multiplication table: "))
for i in range(1,11):
  print(f"{num1} * {i} = {num1 * i}")

Enter a number to get multiplication table: 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

### **Question 10: Use a `while` loop to print the digits of a number in reverse order (e.g., 1234 → 4 3 2 1).**

In [33]:
num1 = int(input("Enter a number: "))
while num1 > 0:
  digit = num1 % 10
  print(digit, end=" ")
  num1 = num1 // 10

Enter a number: 2
2

### **Question 11: Print all prime numbers between 1 and 100 using a loop.**

In [34]:
print("Prime numbers between 1 and 100 are:")
for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num)

Prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

### **Question 12: Ask the user for a number and use a loop to check if it is a palindrome number.**

In [35]:
num = int(input("Enter a number: "))
original_num = num
reverse_num = 0

while num > 0:
    digit = num % 10
    reverse_num = reverse_num * 10 + digit
    num = num // 10

if original_num == reverse_num:
    print(f"{original_num} is a palindrome number.")
else:
    print(f"{original_num} is not a palindrome number.")

Enter a number: 2
2 is a palindrome number.

### **Question 13: Print the Fibonacci sequence up to 10 terms using a loop.**

In [36]:
# Initialize the first two terms
a, b = 0, 1

print("Fibonacci sequence up to 10 terms:")

# Print the first two terms
print(a, end=" ")
print(b, end=" ")

# Generate and print the remaining terms
count = 2
while count < 10:
    next_term = a + b
    print(next_term, end=" ")
    a = b
    b = next_term
    count += 1

Fibonacci sequence up to 10 terms:
0 1 1 2 3 5 8 13 21 34

### **Question 14: Count how many digits are in an integer entered by the user using a `while` loop.**

In [37]:
num = int(input("Enter an integer: "))
count = 0
# Handle the case of 0 separately
if num == 0:
    count = 1
else:
    # Use abs() to handle negative numbers
    num = abs(num)
    while num > 0:
        num = num // 10
        count += 1

print(f"The number of digits is: {count}")

Enter an integer: 126790
The number of digits is: 6

### **Question 15: Print a pattern of numbers in triangle form:**

In [38]:
num = 1
for i in range(1, 5):
  for j in range(i):
    print(num, end=" ")
    num += 1
  print()

1
2 3
4 5 6
7 8 9 10